.SearchInput {
    width: 65vw;
    padding-Top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    -webkit-box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
}

.SerchInputImg {
    position: absolute;
    padding-right: 10px;
}

.ContainerAdega{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardsList {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.cardItem {
    background-color: #fffafa;
    padding: 5px;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);

}

.Cards :hover {
    -webkit-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.75);

}

.cardItem :hover {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;

}